.tweet-container {
  width: 100%;
  margin-bottom: 50px;
  border: 1px solid #cfcfcf;
  border-radius: 7px;
}

.tweet-container header {
  background-color: #d1f7e0;
  padding: 10px;
  height: 60px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.tweet-container img {
  height: 40px;
  float: left;
  margin-right: 10px;
  border-radius: 7px;
}

.tweet-container header h2 {
  padding: 0;
  margin: 0;
  color: #667e85;
  position: relative;
  top: 7px;
}
.tweet-container header p {
  float: right;
  margin: 0;
  padding: 0;
  color: #a6a6a6;
  position: relative;
  bottom: 18px;
}

.tweet-container article {
  padding: 30px 10px;
  border-bottom: 1px solid #cfcfcf;
  height: 90px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.tweet-container footer {
  height: 28px;
  padding: 0;
}

.tweet-container footer .time-stamp {
  font-size: 12px;
  position: relative;
  top: 6px;
  padding: 0px 5px;
}

.tweet-container footer .icons {
  float: right;
  color: #eee;
  position: relative;
  bottom: 10px;
  padding: 0px 5px;
}
.tweet-container footer i {
  padding: 0px 2px;
}

.tweet-container:hover {
  border: 1px solid black;
}

.tweet-container:hover header h2 {
  color: #234650;
}

.tweet-container:hover footer .icons {
  color: #66c6b7;
}






